.app-header {
  background-color: #d71e28;
  height: 54.78px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 4px solid #ffcd41;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
